<h1>Edit <%= @user.email %></h1>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <% @user.errors.full_messages.each do |message| %>
        <p class='warning'><%= message %></p>
      <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'New Email' %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label 'New Password' %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label 'New Password Confirmation' %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions"><%= f.submit "Update" %></div>
<% end %>

<p class="warning">Case Sensitive</p>
