<%= form_for @phone_number do |f| %>
  <% if @phone_number.errors.any? %>
    <div class="error_messages">
      <% @phone_number.errors.full_messages.each do |message| %>
        <p class='warning'><%= message %></p>
      <% end %>
    </div>
  <% end %>

  <div class="field row">
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </div>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.submit "Submit" %>
<% end %>
