<h2><%= @phone_number.number %></h2>
<% if current_user %>
	<% if current_user.id == @phone_number.user_id %>
		<%= link_to "Delete Number", phone_number_path(@phone_number),
                    :data => {:confirm => "You sure?",
                    :method => "delete"} %>
		<br />
	<% end %>
<% end %>

<% @testimonies.each do |t| %>
	<p><%= t.tally %> | <%= t.description %> <%= link_to '+', phone_number_testimony_confirmations_path(@phone_number, t), :data => {:method => "post"} %></p>
	<% if current_user %>
		<% if current_user.id == t.user_id %>
			<%= link_to "Edit", edit_phone_number_testimony_path(@phone_number, t) %> |
			<%= link_to "Delete", phone_number_testimony_path(@phone_number, t),
                    :data => {:confirm => "You sure?",
                    :method => "delete"} %>
			<br />
		<% end %>
	<% end %>
<% end %>

<% if current_user %>
	<p><%= link_to 'Add Testimony', new_phone_number_testimony_path(@phone_number) %></p>
<% end %>
