<%= form_for [@phone_number, @testimony], remote: true, id: "new_testimony" do |f| %>
  <% if @testimony.errors.any? %>
    <div class="error_messages">
      <% @testimony.errors.full_messages.each do |message| %>
        <p class='warning'><%= message %></p>
      <% end %>
    </div>
  <% end %>

  <div class="field row">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :phone_number_id, value: @phone_number.id %>
  </div>
    <%= f.submit "Submit" %>
<% end %>
