<%= form_for [@phone_number, @testimony] do |f| %>
  <% if @testimony.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @testimony.errors.full_messages.each do |message| %>
          <li class='error'><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field row">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :phone_number_id, value: @phone_number.id %>
  </div>
    <%= f.submit "Add Number" %>
<% end %>