<!DOCTYPE html>

<html>
<head>
  <title>PhoneLog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to 'Home', root_url %> |

  <% if current_user %>
    <%= current_user.email %> |
    <%= link_to "Log Out", logout_path %> |
    <%= link_to 'Edit', edit_user_path(current_user) %> | <%= link_to "Delete", user_path(current_user),
                                                :data => {:confirm => "Are you sure?",
                                                :method => "delete"} %>
  <% else %>
    <%= link_to "Sign Up", signup_path %> |
    <%= link_to "Log In", login_path %>
  <% end %>
  <br />
  <br />

<%= yield %>

<% flash.each do |name, msg| %>
    <p id = 'warning'><%= content_tag :div, msg, class: "alert alert-info" %></p>
<% end %>

</body>
</html>
