<!DOCTYPE html>

<html>
<head>
  <title>Who Called?</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p><b>Who Called? <b>
  <%= link_to 'Home', root_url %> |

  <% if current_user %>
    <%= current_user.email %> |
    <%= link_to "Log Out", logout_path %> |
    <%= link_to 'Edit', edit_user_path(current_user) %> | <%= link_to "Delete", user_path(current_user),
                                                :data => {:confirm => "Are you sure?",
                                                :method => "delete"} %>
  <% else %>
    <%= link_to "Sign Up", signup_path %> |
    <%= link_to "Log In", login_path %>
  <% end %>
  <br />
  <br />
  <p>

<%= yield %>

<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "alert alert-info" %>
<% end %>

</body>
</html>
